<%- include('header') -%>
    <div id="header-stuff"></div>
    <div id="log">
        <form id="sign-up"></form>
        <form id="sign-in"></form>
        <div id="profile"></div>
    </div>
    <script type="module" src="/public/js/profile-loader.js"></script>
<%- include('footer') -%>
